<div class="container-fluid bg-dark">

    <ul class="nav">
        <li class="nav-item ">
            <a class="nav-link disabled text-light fs-5" aria-current="page" href="#">Linkin Page</a>
        </li>
        <li class="nav-item mt-1">
            <a class="nav-link active text-light"  aria-current="page" href="#first_heading">About</a>
        </li>
        <li class="nav-item mt-1">
            <a class="nav-link active text-light"  aria-current="page" href="#services">Services</a>
        </li>
        <li class="nav-item mt-1">
            <a class="nav-link active text-light"  aria-current="page" href="#portfolio">Portafolio</a>
        </li>
        <li class="nav-item mt-1">
            <a class="nav-link active text-light" aria-current="page" href="#contact">Contacto</a>
        </li>
    </ul>
</div>