
<section class="container my-5" id="portfolio">

  <h2 class="mb-3">Albumes de Linkin Park</h2>
  <p class="mb-5">
    Una colección de algunos de los álbumes más icónicos de Linkin Park que marcaron una generación.
  </p>

  <div class="row g-4">
    <div class="col-md-4">
      <div class="card border-0 h-100">
        <img src="https://m.media-amazon.com/images/I/81iC+O0ec2L.jpg" style="height: 300px; object-fit: cover;">
        <div class="card-body">
          <h5 class="text-primary">Hybrid Theory</h5>
          <p>
            Lanzado en el 2000, este álbum impulsó a la banda a la fama mundial con canciones como "In the End".
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card border-0 h-100">
        <img src="https://cdn.displate.com/artwork/857x1200/2024-12-11/213c910a-17f0-41f0-af39-57862a51ef62.jpg" style="height: 300px; object-fit: cover;">
        <div class="card-body">
          <h5 class="text-primary">Meteora</h5>
          <p>
            Uno de sus álbumes más exitosos, con temas como "Numb" y "Breaking the Habit".
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card border-0 h-100">
        <img src="https://m.media-amazon.com/images/I/71zibYlETiL.jpg" style="height: 300px; object-fit: cover;">
        <div class="card-body">
          <h5 class="text-primary">Minutes to Midnight</h5>
          <p>
            Un cambio de estilo hacia un sonido más alternativo y experimental.

          </p>
        </div>
      </div>
    </div>

  </div>
</section>
