
<div class="container-fluid h-100 text-center align-items-center"
    style="background-image: url('https://wallpaper.forfun.com/fetch/8f/8f1083d00e734aa7a169c9c66134ea15.jpeg');">
    <div class="d-flex justify-content-center ">
        <div class="row gx-5">
            <div class="col-12">
                <div class="p-3">
                    <h1 style="font-size: 6em;">Linkin park</h1>
                </div>
            </div>
            <div class="col-12">
                <div class="p-3">
                    <h2 style="font-size: 3.5em;">Rock Alternativo</h2>
                </div>
            </div>
        </div>
    </div>
</div>