<div class="container-fluid text-center align-items-center"
    style="background-image: url('https://wallpapercat.com/w/full/1/d/7/2297317-3840x2160-desktop-4k-linkin-park-wallpaper-image.jpg'); min-height: 80vh; background-size: cover; background-position: center;">
    <div class="d-flex justify-content-center ">
        <div class="row w-100 m-0">
            <div class="col-12 bg-light py-0 mt-5">
                <div class="p-0">
                    <h1 class="m-0" style="font-size: 6em;">Linkin park</h1>
                </div>
            </div>
            <div class="col-12 bg-light py-0 mt-3">
                <div class="p-0">
                    <h2 class="m-0"style="font-size: 3.5em;">Rock Alternativo</h2>
                </div>
            </div>
        </div>
    </div>
</div>